                        body {
                            background-color: rgb(193, 236, 229);
                        }
                        
                        td {
                            border: 2px solid black;
                            text-align: middle;
                        }
                        
                        th {
                            border: 2px solid black;
                        }
                        
                        caption {
                            text-align: center;
                            font-size: 50px
                        }
                        
                        .color1 {
                            background-color: red;
                        }
                        
                        .color2 {
                            background-color: green;
                        }
                        
                        .color3 {
                            background-color: yellow;
                        }